@media (max-width: 599px){
    .copyright {
        left: 3px;
    }
}
::-webkit-scrollbar {
    display: none;
}
body{
    scrollbar-color: dark;
}
::-webkit-scrollbar-track{
    background-color: transparent;
}
::-webkit-scrollbar-thumb{
    scrollbar-color: dark;
    color: dark;
    background-color: dark;
}