/* PC */
@media (min-width: 992px){
    .mobiletabletheader{
        display: none;
    }
    .anhhome , .gallerycontainerhome{
        display: none;
    }
}

/* Tablet & Mobile  */
@media (max-width: 991.8px) {
    html{
        max-width: 100%;
        max-height: 100%;
    }
    body{
        overflow-x: hidden;
    }
    .slidercover{
        max-width: 100%;
    }
    .spaceadjust{
        display: none;
        justify-content: center;
        min-width: none;
    }
    .morespace{
        display: none;
    }
/* hide tab  */
    .tab{
        display: none;
    }
    .menutabcoverout{
        display: none;
    }
    .sildercover{
        display: none;
    }
    .silder{
        display: none;
    }
    /* header adjust  */
    .header{
        position: relative;
    }
    .nav{
        position: absolute;
        justify-content: center;
    }
    .socialmedia{
        position: absolute;
        right: 5%;
    }
    .socialmediatab{
        display: none;
    }
    .logocontainer{
        width: 300px;
        height: 45.63px;
    }
    /* menuresponsive */
    .menuresponsive{
    position: absolute;
    top: 300px;
    color: #fff;
    top: 30px;
    width: 35px;
    height: 35px;
    }
    /* mnu overlay */
    .menu-overlay{
    position: fixed;
    background: rgb(81, 81, 81,0.3);
    inset: 0;
    z-index: 1;
    visibility: visible;
    /* hidden overlay  */
    opacity: 0;
    visibility: hidden;
    transition: 0.5s;       
    }
    /* menu checkbox  */
    .menu-checkbox:checked ~ .menu-overlay {
    opacity: 1;
    visibility: visible;
    }
    /* menu drawer  */
    .menu-drawer{
    position: fixed;
    background: #313131;
    inset: 0 40% 0 0;
    z-index: 2;
    transform: translateX(-100%);
    transition: 0.5s;
    }
    .menu-checkbox:checked ~ .menu-drawer{
        transform: translateX(0);
    }
    /* anh */
    .gallerycontainerhome{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin: 40px 10px 0 10px;
    }
    .gallerycontainerhome .containerboxhome { 
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        /* align-items: center; */
    }
    .gallerycontainerhome .containerboxhome .anhhome{
        display: flex;
        flex-direction: column;
        width: 100%;
    }
    .gallerycontainerhome .containerboxhome .anhhome img{
        width: 100%;
        padding-bottom: 15px;
    }
    /* ulli  */
    .menutab{
        position: absolute;
        top: 58px;
        left: 0;
    }
    .item.itemnonactive , .item.itemactive {
        text-decoration: none;
        position: relative;
        color: white;
        font-size: 18px;
        font-family: futura;
        display: inline-block;
        padding: 8px 32px 8px 32px;
        letter-spacing: 0.9px;
        width: 200px;
        left: 0;
    }
    .dcm{
        display: block;
        width: 100px;

    }
    .item.itemactive{
        color: #616161;
        text-shadow: 0.3px 0 0 currentColor;
    }
    .item.itemactive:hover{
        color: #616161;
        
    }
    .close__menu{
        width: 22px;
        color: #878787;
    }
    .menu-drawer{
        display: flex;
        flex-direction: row-reverse;
        width: 200px;
        height: 100%;
        padding: 7px 9px;
    }
/* footer  */
    .footercontainer{
        position: relative;
        display: flex;
        flex-direction: column-reverse;
        justify-content: center;
        width: 100%;
        max-width: 100%;
    }
    .box2 , .box3 , .box1{
        flex-direction: column;
        display: flex;
        width: 450px;
        height: 120px;
        justify-content: center;
        align-items: center;
     }
     
    /* .mail , .fb , .ins , .copyright , .connectwithwe , .contactwithme , .copyright{
        font-size: calc(100% - 0%);
    } */


}
/* Tablet */
@media (min-width: 768px) and (max-width:991.8px){
    .menutab2 , .hr{
        display: none;
    }
    /* footer */
    .connectwithwe , .contactwithme{
        top: 0px;
        top: 10px;
     }
     .fb{
        position: relative;
        top: -2px;
        font-size: 16px;
        font-family: montserrat,sans-serif;
        text-decoration: none;
        color: #fff;
        left: 0px;
    
    }
    .ins{
        position: relative;
        top: 6px;
        font-size: 16px;
        font-family: montserrat,sans-serif;
        text-decoration: none;
        color: #fff;
        left: 1.2px;
    
    }
    .mail{
        top: 5px;
    }
}

/* Mobile */
@media (max-width:550px){
    body{
        max-width: 100%;
    }
    .logocontainer{
        width: 100%;
    }
    .socialmedia{
        display: none;
    }
    .menutab2{
        position: absolute;
        width: 100%;
        display: flex;
        flex-direction: column;
        position: absolute;
        padding: 2px 7px;
        top: 230px;
        left: 0;
    }
    .socialmediamenu{
    text-decoration: none;
    position: absolute;
    color: white;
    font-size: 18px;
    font-family: futura;
    display: inline-block;
    padding: 8px 32px 8px 32px;
    letter-spacing: 0.9px;
    width: 200px;
    left: 0;
    }
    .socialmediamenu1{
        top: 35px;
    text-decoration: none;
    position: absolute;
    color: white;
    font-size: 18px;
    font-family: futura;
    display: inline-block;
    padding: 8px 32px 8px 32px;
    letter-spacing: 0.9px;
    width: 200px;
    left: 0;
    }
    .hrs{
        
    color: #fff;
    width: 60%;
    margin: auto;
    position: absolute;
    top: 200px;
    left: 30px;
    }
    .slidercover{
        width: 100%;
    }
    .img{
        width: 200px;
    }
    .sildercover{
        padding-top: 30px;
        padding-bottom: 50px;
        height: 100%;
    }
    .slider{
        width: 409.6px;
        max-width: 100vw;
        height: 309.2px;
        margin: auto;
        position: relative;
        overflow: hidden;
    }
    .slider .list{
        position: relative;
        width: max-content;
        height: 100%;
        left: 0;
        top: 0;
        display: flex;
        transition: 1s;
    }
    .slider .list img{
        position: relative;
        width: 409.6px;
        max-width: 100vw;
        height: 100%;
        object-fit: cover;
    }
    .buttoncoverfirst{
        display: none;
    }
    .footercontainer{
        align-items: center;
        justify-content: center;
    }
    .box3 , .box2 , .box1{
        width: 100%;
    }
    .logoenter{
        width: 280px;
    }
    .ent{
        font-size: 20px;
    }
    .open{
        margin-bottom: 30px;
    }
    .box2 , .box3 , .box1{
        flex-direction: column;
        display: flex;
        max-width: 450px;
        height: 100px;
        align-items: center;
     }
    .connectwithwe{
        top: 0px;
        position: relative;
        top: 10px;
     }
     .fb{
        position: relative;
        top: -2px;
        font-size: 16px;
        font-family: montserrat,sans-serif;
        text-decoration: none;
        color: #fff;
        left: 0px;
    
    }
    .ins{
        position: relative;
        top: 6px;
        font-size: 16px;
        font-family: montserrat,sans-serif;
        text-decoration: none;
        color: #fff;
        left: 1.2px;
    
    }
    .mail{
        top: 5px;
    }
    .mail , .fb , .ins {
        font-size: 14px;
        left: auto;
    }
    .copyright{
        font-size: 11px;
        left: 5px;
    }
    .connectwithwe , .contactwithme{
        font-size: 16px;
    }
    .left_side .ftlogo{
        width: 250px;
    }
    /* .slider{
        overflow: visible;
    }
    .slider .list{

        display: contents;

    }
    .slider .list img{
        object-fit: cover;
    } */

}